*.user
*.DS_Store
*.autosave
build/*
# Qt-generated temp files and Makefiles
Makefile
.qmake.stash
moc_predefs.h
qrc_resources.cpp
qrc_qml.cpp

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o

# Precompiled Headers
*.gch
*.pch

# Qt MOCs
moc_*.cpp

# Compiled Dynamic libraries
*.so
#*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
